<html lang="en">
<head>
    <style>
        body, html {
            z-index: 9999;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%; 
        }
        .chart-container {
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; /* Center vertically within the viewport */
            width: 100%;   /* Center horizontally within the viewport */
        }
    </style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
</head>
<body style="background-color: black; color: white;">
    <br>
	<h2 class="text-left" style="color: black; background-color: white;">hyperliquid funding history</h2>

    <div class="chart-container" style="width:100%">
        <canvas id="myChart"></canvas>
    </div>
    <h2 class="text-left" style="color: black; background-color: white;">btc spot & realized vol</h2>
    <div class="chart-container" style="width:100%">
        <canvas id="myChart2"></canvas>
    </div>
    <h2 class="text-left" style="color: black; background-color: white;">btc & eth atm vol curve</h2>
    <div class="chart-container" style="width:100%">
    <canvas id="myChart3"></canvas>
    </div>
    <p id="footnote" class="text-center"></p>
<script>
    moment.locale('en');
    var ctx = document.getElementById('myChart').getContext('2d');

    var btcData = JSON.parse('{{ btc_data|escapejs }}');
    var ethData = JSON.parse('{{ eth_data|escapejs }}');
    var solData = JSON.parse('{{ sol_data|escapejs }}');
    var btcData_ma = JSON.parse('{{ btc_data_ma|escapejs }}');
    var ethData_ma = JSON.parse('{{ eth_data_ma|escapejs }}');
    var solData_ma = JSON.parse('{{ sol_data_ma|escapejs }}');

    var formattedLabelsz = btcData.timestamp

    // var formattedLabelsz = btcData.timestamp.map(function(timestamp) {
    // return moment(timestamp, 'YYYY-MM-DD HH:mm:ss').toISOString();
    // });

    console.log('chart data retrieve done');

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: formattedLabelsz,
            datasets: [
                {
                    label: 'BTC-USD',
                    borderColor: 'rgba(0, 255, 127, 1)',
                    backgroundColor: 'rgba(0, 255, 127, 1)',
                    borderWidth: 1,
                    data: btcData.apy,
                    hidden: true
                },
                {
                    label: 'ETH-USD',
                    borderColor: 'rgba(255, 99, 71, 1)',
                    backgroundColor: 'rgba(255, 99, 71, 1)',
                    borderWidth: 1,
                    data: ethData.apy,
                    hidden: true
                },
                {
                    label: 'SOL-USD',
                    borderColor: 'rgba(255, 165, 0, 1)',
                    backgroundColor: 'rgba(255, 165, 0, 1)',
                    borderWidth: 1,
                    data: solData.apy,
                    hidden: true,
                }, 
                {
                    label: 'BTC-USD_MA24',
                    borderColor: 'rgba(0, 255, 127, 1)',
                    backgroundColor: 'rgba(0, 255, 127, 1)',
                    borderWidth: 4,
                    data: btcData_ma.apy,
                    pointRadius: 0,
                    borderWidth: 2
                },
                {
                    label: 'ETH-USD_MA24',
                    borderColor: 'rgba(255, 99, 71, 1)',
                    backgroundColor: 'rgba(255, 99, 71, 1)',
                    borderWidth: 4,
                    data: ethData_ma.apy,
                    pointRadius: 0,
                    borderWidth: 2
                },
                {
                    label: 'SOL-USD_MA24',
                    borderColor: 'rgba(255, 165, 0, 1)',
                    backgroundColor: 'rgba(255, 165, 0, 1)',
                    borderWidth: 4,
                    data: solData_ma.apy,
                    pointRadius: 0,
                    borderWidth: 2
                }
            ]
        },
        options: {
            scales: {
                x: {
                type: 'time',
                time: {
                    },
                    ticks: {
                    callback: function(value, index, values) {
                        // Display only every 4th label
                        if (index % 4 === 0) {
                            // return this.getLabelForValue(value);

                            return moment(value).format('YYYY-MM-DD');
                        } else {
                            return null;
                        }
                    }
                }
                },
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    labels: {
                        usePointStyle: true,
                        pointStyle: 'rect'
                    }
                }
            }
        }
    });
</script>
<script>
    var ctx2 = document.getElementById('myChart2').getContext('2d');
    console.log(JSON.parse('{{ xbt_json|escapejs }}')); 
    var xbtData = JSON.parse('{{ xbt_json|escapejs }}');
    var formattedLabelst = xbtData.timestamp

    var myChart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: formattedLabelst, // Use the timestamp as x-axis labels
            datasets: [
                {
                    label: 'btc-spot',
                    borderColor: 'rgba(0, 255, 127, 1)',
                    backgroundColor: 'rgba(0, 255, 127, 1)',
                    borderWidth: 1,
                    data: xbtData.btc_spot,
                    yAxisID: 'y-axis-1'
                }
                ,
                {
                    label: 'btc-1w-realized-vol',
                    borderColor: 'rgba(255, 99, 71, 1)',
                    backgroundColor: 'rgba(255, 99, 71, 1)',
                    borderWidth: 1,
                    data: xbtData['btc-1w-realized'],
                    yAxisID: 'y-axis-2'
                },
                {
                    label: 'btc-1w-realized-yang_zhang',
                    borderColor: 'rgba(255, 165, 0, 1)',
                    backgroundColor: 'rgba(255, 165, 0, 1)',
                    borderWidth: 1,
                    data: xbtData['btc-1w-realized-yang_zhang'],
                    yAxisID: 'y-axis-2'
                }
            ]
        },
        options: {
            scales: {
                y: [{
                    id: 'y-axis-1',
                    position: 'left',
                    beginAtZero: false
                },
                {
                    id: 'y-axis-2',
                    position: 'right',
                    beginAtZero: false
                }]
            },
            plugins: {
                legend: {
                    labels: {
                        usePointStyle: true,
                        pointStyle: 'rect'
                    }
                }
            }
        }
    });
</script>
<script>
    var ctx3 = document.getElementById('myChart3').getContext('2d');
    var expirationData = JSON.parse('{{ expiration_data|escapejs }}');
    // var expirationData = JSON.parse('{{ expiration_data|escapejs }}');
    var ethexpirationData = JSON.parse('{{ eth_expiration_data|escapejs }}');

var formattedLabels = expirationData.expiration_timestamp.map(function(timestamp) {
    var date = new Date(timestamp);
    return date.toLocaleString('en-US', { year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit' });
});

    var myChart3 = new Chart(ctx3, {
        type: 'line',
        data: {
            labels: formattedLabels, // Use the expiration_timestamp as x-axis labels
            datasets: [{
                label: 'btc_mid_iv',
                borderColor: 'rgba(0, 255, 127, 1)', // Use the green color as in the other charts
                backgroundColor: 'rgba(0, 255, 127, 1)',
                borderWidth: 1,
                data: expirationData.mid_iv
            },
            {
                label: 'eth_mid_iv',
                borderColor: 'rgba(255, 99, 71, 1)',
                backgroundColor: 'rgba(255, 99, 71, 1)',
                borderWidth: 1,
                data: ethexpirationData.mid_iv
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    labels: {
                        usePointStyle: true,
                        pointStyle: 'rect'
                    }
                }
            }
        }
    });

    var oldestTimestamp = new Date(Math.min.apply(null, expirationData.timestamp.map(function(e) {
        return new Date(e);
    })));
    document.getElementById('footnote').innerText = 'deribit vols: ' + oldestTimestamp.toLocaleString('en-US', { hour12: false, timeStyle: 'medium', dateStyle: 'short' });
</script>
</body>
</html>




