{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>bidoffermineyours.com</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <style>
            body, html {
                z-index: 9999;
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%; 
            }
            .chart-container {
                z-index: 9999;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Load jQuery first -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- Then Bootstrap and other dependencies -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

        <!-- <link rel="icon" href="{% static 'alpha-inf.ico' %}" type="image/x-icon"> -->
        <link rel="apple-touch-icon-precomposed"
            sizes="57x57" href="{% static 'favicon-apple-touch-114.png' %}">
        <link rel="apple-touch-icon-precomposed"
            sizes="114x114" href="{% static 'favicon-apple-touch-114.png' %}">
        <link rel="apple-touch-icon-precomposed"
            sizes="72x72" href="{% static 'favicon-apple-touch-144.png' %}">
        <link rel="apple-touch-icon-precomposed"
            sizes="144x144" href="{% static 'favicon-apple-touch-144.png' %}">
        <link rel="icon" type="image/vnd.microsoft.icon"
            sizes="32x32 48x48" href="{% static 'favicon.ico' %}">
        <link rel="icon" sizes="128x128" href="{% static 'favicon.icns' %}">
        <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    </head>
    <body style="background-color: black; color: white;">
        <h1>bidoffermineyours <span style="font-style: italic;">EQ</span></h1>
        <div class="centered-image-container">
            <img src="{{ image_url }}" alt="argh..">
        </div>
        <br>
        <h2 class="text-left" style="color: black; background-color: white;">SPeggs price & returns</h2>
        <div class="chart-container" style="width:100%">
            <canvas id="spxChart"></canvas>
        </div>
        <h2 class="text-left" style="color: black; background-color: white;">SPeggs cumulative returns</h2>
        <div class="chart-container" style="width:100%">
            <canvas id="returnsChart"></canvas>
        </div>
        <h2 class="text-left" style="color: black; background-color: white;">SPY vs FEZ cumulative returns</h2>
        <div class="chart-container" style="width:100%">
            <canvas id="etfChart"></canvas>
        </div>
        <h2 class="text-left" style="color: black; background-color: white;">SPY - FEZ cumulative return difference</h2>
        <div class="chart-container" style="width:100%">
            <canvas id="diffChart"></canvas>
        </div>
        <h2 class="text-left" style="color: black; background-color: white;">SPY, IWM, QQQ, FEZ cumulative returns</h2>
        <div class="chart-container" style="width:100%">
            <canvas id="etfComparisonChart"></canvas>
        </div>
        <h2 class="text-left" style="color: black; background-color: white;">SPY - IWM cumulative returns</h2>
        <div class="chart-container" style="width:100%">
            <canvas id="spyIwmDiffChart"></canvas>
        </div>
        <script>
            // Parse the JSON data passed from the view
            const spxData = {{ spx_data|safe }};
            const spyData = {{ spy_data|safe }};
            const fezData = {{ fez_data|safe }};
            const diffData = {{ diff_data|safe }};
            const iwmData = {{ iwm_data|safe }};
            const qqqData = {{ qqq_data|safe }};
            const labels = spxData.map(item => item.Date);  // Use the formatted date directly
            const lineData = spxData.map(item => item.Close);
            const barData = spxData.map(item => item.pct_change);
            const absBarData = spxData.map(item => item.abs_change);
            const absLineData = spxData.map(item => item.abs_change_ma);

            // Get the context of the canvas element we want to select
            const ctx = document.getElementById('spxChart').getContext('2d');
            const spxChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        type: 'line',
                        label: 'SPeggs close price',
                        data: lineData,
                        borderColor: 'rgba(255, 165, 0, 1)',
                        backgroundColor: 'rgba(255, 165, 0, 1)',
                        borderWidth: 4,
                        fill: false,
                        yAxisID: 'y',
                        pointRadius: 2
                    },
                    {
                        type: 'bar',
                        label: 'daily return %',
                        data: barData,
                        backgroundColor: barData.map(value => 
                            value > 0 ? 'rgba(75, 192, 75, 0.3)' : 'rgba(192, 75, 75, 0.3)'
                        ),
                        yAxisID: 'y1',
                        pointRadius: 2
                    },
                    {
                        type: 'bar',
                        label: 'absolute return %',
                        data: absBarData,
                        backgroundColor: 'rgba(0, 255, 127, 1)',
                        yAxisID: 'y1',
                        pointRadius: 2,
                        hidden: true  // Hidden by default
                    },
                    {
                        type: 'line',
                        label: 'abs return ma',
                        data: absLineData,
                        borderColor: 'rgba(0, 255, 127, 1)',
                        backgroundColor: 'rgba(0, 255, 127, 1)',
                        borderWidth: 2,
                        fill: false,
                        yAxisID: 'y1',
                        pointRadius: 2,
                        hidden: true  // Hidden by default
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'month',
                                displayFormats: {
                                    month: 'MMM yyyy'
                                },
                                tooltipFormat: 'yyyy-MM-dd'
                            },
                            ticks: {
                                source: 'labels',
                                stepSize: 1,
                                maxRotation: 45,
                                autoSkip: true,
                                autoSkipPadding: 50
                            }
                        },
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            beginAtZero: false
                        },
                        y1: {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            beginAtZero: true,
                            grid: {
                                drawOnChartArea: false
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                usePointStyle: true,
                                pointStyle: 'rect'
                            }
                        },
                        tooltip: {
                            callbacks: {
                                title: function(context) {
                                    return context[0].label.split('T')[0];
                                },
                                label: function(context) {
                                    if (context.dataset.type === 'bar') {
                                        return `daily return: ${context.raw.toFixed(2)}%`;
                                    }
                                    return `SPeggs: ${context.raw.toFixed(2)}`;
                                }
                            }
                        }
                    }
                }
            });

            // Modified returns chart with zoom
            const ctx2 = document.getElementById('returnsChart').getContext('2d');
            const returnsChart = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        type: 'line',
                        label: 'cummulative log return',
                        data: spxData.map(item => item.cum_total_return),
                        borderColor: 'rgba(255, 165, 0, 1)',
                        backgroundColor: 'rgba(255, 165, 0, 1)',
                        borderWidth: 4,
                        fill: false,
                        pointRadius: 2
                    },
                    {
                        type: 'line',
                        label: 'overnight return',
                        data: spxData.map(item => item.cum_overnight),
                        borderColor: 'rgba(75, 192, 75, 1)',
                        backgroundColor: 'rgba(75, 192, 75, 1)',
                        borderWidth: 4,
                        fill: false,
                        pointRadius: 2
                    },
                    {
                        type: 'line',
                        label: 'rth return',
                        data: spxData.map(item => item.cum_session),
                        borderColor: 'rgba(192, 75, 75, 1)',
                        backgroundColor: 'rgba(192, 75, 75, 1)',
                        borderWidth: 4,
                        fill: false,
                        pointRadius: 2
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'month',
                                displayFormats: {
                                    month: 'MMM yyyy'
                                },
                                tooltipFormat: 'yyyy-MM-dd'
                            },
                            ticks: {
                                source: 'labels',
                                stepSize: 1,
                                maxRotation: 45,
                                autoSkip: true,
                                autoSkipPadding: 50
                            }
                        },
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            beginAtZero: false
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                usePointStyle: true,
                                pointStyle: 'rect'
                            }
                        },
                        tooltip: {
                            callbacks: {
                                title: function(context) {
                                    return context[0].label.split('T')[0];
                                },
                                label: function(context) {
                                    return `${context.dataset.label}: ${context.raw.toFixed(2)}%`;
                                }
                            }
                        }
                    }
                }
            });

            // ETF comparison chart
            const ctx3 = document.getElementById('etfChart').getContext('2d');
            const etfChart = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: spyData.map(item => item.Date),
                    datasets: [{
                        type: 'line',
                        label: 'SPY cumulative return',
                        data: spyData.map(item => item.cum_return),
                        borderColor: 'rgba(255, 165, 0, 1)',
                        backgroundColor: 'rgba(255, 165, 0, 1)',
                        borderWidth: 4,
                        fill: false,
                        pointRadius: 2
                    },
                    {
                        type: 'line',
                        label: 'FEZ cumulative return',
                        data: fezData.map(item => item.cum_return),
                        borderColor: 'rgba(75, 192, 75, 1)',
                        backgroundColor: 'rgba(75, 192, 75, 1)',
                        borderWidth: 4,
                        fill: false,
                        pointRadius: 2
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'month',
                                displayFormats: {
                                    month: 'MMM yyyy'
                                },
                                tooltipFormat: 'yyyy-MM-dd'
                            },
                            ticks: {
                                source: 'labels',
                                stepSize: 1,
                                maxRotation: 45,
                                autoSkip: true,
                                autoSkipPadding: 50
                            }
                        },
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            beginAtZero: false
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                usePointStyle: true,
                                pointStyle: 'rect'
                            }
                        },
                        tooltip: {
                            callbacks: {
                                title: function(context) {
                                    return context[0].label.split('T')[0];
                                },
                                label: function(context) {
                                    return `${context.dataset.label}: ${context.raw.toFixed(2)}%`;
                                }
                            }
                        }
                    }
                }
            });

            // Return difference chart
            const ctx4 = document.getElementById('diffChart').getContext('2d');
            const diffChart = new Chart(ctx4, {
                type: 'line',
                data: {
                    labels: diffData.map(item => item.Date),
                    datasets: [{
                        type: 'line',
                        label: 'SPY - FEZ cumulative return difference',
                        data: diffData.map(item => item.return_diff),
                        borderColor: 'rgba(255, 255, 255, 1)',
                        backgroundColor: 'rgba(255, 255, 255, 1)',
                        borderWidth: 4,
                        fill: false,
                        pointRadius: 2
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'month',
                                displayFormats: {
                                    month: 'MMM yyyy'
                                },
                                tooltipFormat: 'yyyy-MM-dd'
                            },
                            ticks: {
                                source: 'labels',
                                stepSize: 1,
                                maxRotation: 45,
                                autoSkip: true,
                                autoSkipPadding: 50
                            }
                        },
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            beginAtZero: false,
                            grid: {
                                color: 'rgba(255, 255, 255, 0.1)'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                usePointStyle: true,
                                pointStyle: 'rect'
                            }
                        },
                        tooltip: {
                            callbacks: {
                                title: function(context) {
                                    return context[0].label.split('T')[0];
                                },
                                label: function(context) {
                                    return `Difference: ${context.raw.toFixed(2)}%`;
                                }
                            }
                        }
                    }
                }
            });

            // SPY vs IWM vs QQQ vs FEZ cumulative returns chart
            const ctx5 = document.getElementById('etfComparisonChart').getContext('2d');
            const etfComparisonChart = new Chart(ctx5, {
                type: 'line',
                data: {
                    labels: spyData.map(item => item.Date),
                    datasets: [{
                        type: 'line',
                        label: 'SPY cumulative return',
                        data: spyData.map(item => item.cum_return),
                        borderColor: 'rgba(255, 165, 0, 1)',
                        backgroundColor: 'rgba(255, 165, 0, 1)',
                        borderWidth: 4,
                        fill: false,
                        pointRadius: 2
                    },
                    {
                        type: 'line',
                        label: 'IWM cumulative return',
                        data: iwmData.map(item => item.cum_return),
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 4,
                        fill: false,
                        pointRadius: 2
                    },
                    {
                        type: 'line',
                        label: 'QQQ cumulative return',
                        data: qqqData.map(item => item.cum_return),
                        borderColor: 'rgba(192, 75, 75, 1)',
                        backgroundColor: 'rgba(192, 75, 75, 1)',
                        borderWidth: 4,
                        fill: false,
                        pointRadius: 2
                    },
                    {
                        type: 'line',
                        label: 'FEZ cumulative return',
                        data: fezData.map(item => item.cum_return),
                        borderColor: 'rgba(75, 75, 192, 1)',
                        backgroundColor: 'rgba(75, 75, 192, 1)',
                        borderWidth: 4,
                        fill: false,
                        pointRadius: 2
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'month',
                                displayFormats: {
                                    month: 'MMM yyyy'
                                },
                                tooltipFormat: 'yyyy-MM-dd'
                            },
                            ticks: {
                                source: 'labels',
                                stepSize: 1,
                                maxRotation: 45,
                                autoSkip: true,
                                autoSkipPadding: 50
                            }
                        },
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            beginAtZero: false
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                usePointStyle: true,
                                pointStyle: 'rect'
                            }
                        },
                        tooltip: {
                            callbacks: {
                                title: function(context) {
                                    return context[0].label.split('T')[0];
                                },
                                label: function(context) {
                                    return `${context.dataset.label}: ${context.raw.toFixed(2)}%`;
                                }
                            }
                        }
                    }
                }
            });

            // SPY - IWM cumulative returns chart
            const ctx6 = document.getElementById('spyIwmDiffChart').getContext('2d');
            const spyIwmDiffChart = new Chart(ctx6, {
                type: 'line',
                data: {
                    labels: spyData.map(item => item.Date),
                    datasets: [{
                        type: 'line',
                        label: 'SPY - IWM cumulative return',
                        data: spyData.map((item, index) => item.cum_return - iwmData[index].cum_return),
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 4,
                        fill: false,
                        pointRadius: 2
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'month',
                                displayFormats: {
                                    month: 'MMM yyyy'
                                },
                                tooltipFormat: 'yyyy-MM-dd'
                            },
                            ticks: {
                                source: 'labels',
                                stepSize: 1,
                                maxRotation: 45,
                                autoSkip: true,
                                autoSkipPadding: 50
                            }
                        },
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            beginAtZero: false
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                usePointStyle: true,
                                pointStyle: 'rect'
                            }
                        },
                        tooltip: {
                            callbacks: {
                                title: function(context) {
                                    return context[0].label.split('T')[0];
                                },
                                label: function(context) {
                                    return `Difference: ${context.raw.toFixed(2)}%`;
                                }
                            }
                        }
                    }
                }
            });

        </script>
        {# {% include "header.html" %} #}
        {# {% include "table.html" %} #}
        {# {% include "chart.html" %} #}
    </body>
</html>