{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>bidoffermineyours.com</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body z-index=9999;>
        <h1>bidoffermineyours</h1>
<!--        <p>My name is <strong>{{name}}</strong></p>
<p>My age is <strong>{{age}}</strong></p> -->
    <div class="centered-image-container">
	            <img src="{{ image_url }}" alt="argh..">
		        </div>
			<br>
  {% include "table.html" %}
  {% include "chart.html" %}
    </body>
</html>



